.section.highlights .main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -365px;
  margin-left: -641px;
  width: 1282px;
  height: 730px;
  overflow: hidden;
  z-index: 1232;
}
.section.highlights .main .col1{
	width: 216px;
	margin-right: 10px;
}
.section.highlights .main .col1 .item1{
	width: 216px;
	height: 347px;
}
.section.highlights .main .col1 .item2{
	width: 216px;
	height: 87px;
}
.section.highlights .main .col1 .item3{
	width: 216px;
	height: 278px;
}
.section.highlights .main .col2{
	width: 614px;
	margin-right: 10px;
}
.section.highlights .main .col2 .row1{
	height: 300px;
	margin-bottom: 10px;
}
.section.highlights .main .col2 .row1 .item4 img{
	width: 320px;
	position: relative;
	top: 8px;
	left: -10px;
}
.section.highlights .main .col2 .row1 .item4{
	width: 300px;
	height: 300px;
	margin-right: 10px;
}
.section.highlights .main .col2 .row1 .item5{
	width: 300px;
	height: 300px;
}
.section.highlights .main .col2 .row2 .item6{
	height: 403px;
	width: auto;
}
.section.highlights .main .col2 .row2 .item6 img{
	height: 403px;
	widows: auto;
}
.section.highlights .main .col2 .row2 .item6{
	margin-right: 10px;
	height: 403px;
	width: 230px;
}
.section.highlights .main .col2 .row2 .col {
	width: 370px;
}
.section.highlights .main .col2 .row2 .col .item7{
	width: 370px;
	margin-bottom: 10px;
	height: 182px;
}
.section.highlights .main .col2 .row2 .col .item8{
	width: 370px;
	height: 211px;
}
.section.highlights .main .col3{
	height: 100%;
	margin-right: 10px;
	width: 222px;
}
.section.highlights .main .col3 .item9{
	height: 178px;
	margin-bottom: 10px;

}
.section.highlights .main .col3 .item10{
	height: 178px;
	margin-bottom: 10px;
}
.section.highlights .main .col3 .item11 img{
	height: 338px;
	width: auto;
}
.section.highlights .main .col3 .item11{
	height: 338px;
}
.section.highlights .main .col4{
	width: 184px;
	height: 100%;
}
.section.highlights .main .col4 .item12 img{
	height: 440px;
	width: auto;
}
.section.highlights .main .col4 .item12{
	height: 440px;
	margin-bottom: 10px;
}
.section.highlights .main .col4 .item13 img{
	height: 264px;
	width: auto;
}
.section.highlights .main .col4 .item13{
	height: 264px;
	background-color: red;
}
.item img{
	-webkit-transform: scale(1);
	transition:all 1s ease-out 0s;
	width: 100%;
}
.item img:hover {
	-webkit-transform: scale(1.20);
	transition:all 1s ease-out 0s;
}
.item {
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.item .info {
	position: absolute;
	bottom: 0px;
	font-family: '方正清刻本悦宋简体';
	height: 30px;
	background-color: rgba(0,0,0,.6);
	width: 100%;
	z-index: 999;
	font-size: 16px;
	line-height: 30px;
}
